h1{
 color: aqua;
 background-color: gold;
 text-align: center;
 padding-bottom: 30px;
 padding-top: 30px;
}
body{
    background-color: black;
}
p img{
     margin-left: 63px;
    margin-bottom: 40px;
    align-items: center;

}